{% extends "base.html" %}
{% block title %}Profile API Expo{% endblock %}
{% block heading %}Globus Auth API Expo{% endblock %}
{% block content %}
<h2 class="aqua">API Expo:</h2>
<p class="italic gray">(Requests against Globus Auth with Authorization header)</p>
{% include "profile_api_explorer.html" %}
<h3 class="aqua">GET /token_details</h3>
<div class="rounded bg-aqua navy p2">
  <pre>{{ test_results.token_details }}</pre>
</div>
<h3 class="aqua">GET /identities</h3>
<div class="rounded bg-aqua navy p2">
  <pre>{{ test_results.identities }}</pre>
</div>

<div class="mt3">
  <a class="btn fit btn-outline block center mb1 red" href="{{ url_for('logout') }}"">Log Out</a>
</div>
{% endblock %}
