<!doctype html>
<html class="bg-navy" lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='components/basscss/css/basscss.min.css') }}" />
    {% block head %}
    <title>{% block title %}{% endblock %} - Globus Auth Client Example</title>
    {% endblock %}
  </head>
  <body class="bg-navy white">
    <div class="container">
      <div class="clearfix mxn2">
        <div class="sm-col-6 px2 mx-auto">
          <div class="p2">
            <h1 class="aqua">{% block heading %}{% endblock %}</h1>
            <p class="italic gray">This is an example XSEDE client application that authenticates a user via Globus Auth.</p>
            <div id="page-content">
              {% block content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix mxn2">
        <div class="sm-col-6 px2 mx-auto">
          <div class="p2">
            <span class="gray italic">          This is an Apache Licensed open source project, <a href="https://github.com/globusonline/globus-auth-demo">view the source</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
