{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block heading %}Globus Auth Account Info{% endblock %}
{% block content %}
<p>
  Welcome {{ profile_data.name }}, you have successfully authenticated via Globus Auth.
</p>
<h2 class="aqua">Your info:</h2>
<p class="italic gray">(Pulled from the Signed Token provided by Globus Auth)</p>
<div class="rounded bg-aqua navy p2">
  <ul class="list-reset mb0">
    <li id="info-name"><span class="bold">Name: </span>{{ profile_data.name }}</li>
    <li id="info-username" ><span class="bold">Username: </span>{{ profile_data.username }}</li>
    <li id="info-email"><span class="bold">Email: </span>{{ profile_data.email }}</li>
    <li id="info-provider"><span class="bold">Provider: </span>{{ profile_data.provider_name }}</li>
    <li id="info-provider_id"><span class="bold">Provider ID: </span>{{ profile_data.provider }}</li>
    <li class="italic mt3" id="info-issuer">Issuer: {{ profile_data.iss }}</li>
    <li class="italic mt2" id="info-access_token">Access Token ({{ resource_server }}): <div style="font-size: smaller; overflow: scroll">{{ access_token }}</div></li>
    <li class="italic mt2" id="info-access_token">Access Token ({{ resource_server }}): <div style="font-size: smaller; overflow: scroll">{{ access_token }}</div></li>
    <ul class="list-reset mb0">
      {% for tok in other_tokens %}
        <li class="italic mt2" id="info-access_token">({{ tok['resource_server'] }}): <div style="font-size: smaller; overflow: scroll">{{ tok['access_token'] }}</div></li>
      {% endfor %}
    </ul>
  </ul>
</div>

<div class="mt3">
  <a class="btn fit btn-primary block center mb1 bg-lime navy" href="{{ url_for('profile_api_expo') }}"">Explore the API</a>
  <a class="btn fit btn-outline block center mb1 red" href="{{ url_for('logout') }}"">Log Out</a>
</div>
{% endblock %}
