{
    "swagger": "2.0",
    "info": {
        "title": "Globus Auth API Explorer",
        "description": "Globus Auth API",
        "version": "0.0.1"
    },
    "host": "globus-auth-demo.beta.globus.org/p",
    "schemes": [
        "https"
    ],
    "paths": {
        "/token_details": {
            "get": {
                "summary": "Token Details",
                "description": "Get the token details",
                "parameters": [
                    {
                        "name": "fields[token]",
                        "in": "query",
                        "allowEmptyValue": false,
                        "description": "JSON API fields param",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "allowEmptyValue": false,
                        "description": "JSON API include param",
                        "type": "array",
                        "items": {
                            "type": "string",
                            "collectionFormat": "csv"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "The response"
                    }
                }
            }
        },
        "/identities": {
            "get": {
                "summary": "Identities",
                "description": "Get the identities",
                "parameters": [
                    {
                        "name": "fields[token]",
                        "in": "query",
                        "allowEmptyValue": false,
                        "description": "JSON API fields param",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "allowEmptyValue": false,
                        "description": "JSON API include param",
                        "type": "array",
                        "items": {
                            "type": "string",
                            "collectionFormat": "csv"
                        }
                    },
                    {
                        "name": "identity_names",
                        "in": "query",
                        "allowEmptyValue": false,
                        "description": "JSON API include param",
                        "type": "array",
                        "items": {
                            "type": "string",
                            "collectionFormat": "csv"
                        }
                    },
                    {
                        "name": "identity_ids",
                        "in": "query",
                        "allowEmptyValue": false,
                        "description": "JSON API include param",
                        "type": "array",
                        "items": {
                            "type": "string",
                            "collectionFormat": "csv"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "The response"
                    }
                }
            }
        },
        "/identities/{primary_identity}/relationship/linked_identities": {
            "delete": {
                "summary": "Identities",
                "description": "Get the identities",
                "parameters": [
                    {
                        "name": "primary_identity",
                        "in": "path",
                        "required": true,
                        "description": "Primary Linked Identity ID",
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "The response"
                    }
                }
            }
        }
    },
    "definitions": {
        "Relationship": {
            "type": "object",
            "properties": {
                "type": "array",
                "items": "$ref/definitions/Identity"
            }
        },
        "Identity": {
            "type": "object",
            "properties": {
                "type": {
                    "type": "string",
                    "default": "indentity"
                },
                "id": {
                    "type": "string"
                }
            }
        }
    }
}