.swagger-section #header {
  background-color: #3560A0;
}

.swagger-section #header a#logo {
  background-image: url('../img/logo.png');
}

#swagger-attribution {
  display: block;
  text-align: center;
  font-size: smaller;
  color: silver;
  overflow: hidden;
}

#back-to-profile {
  color: #7FDBFF;
  text-decoration: none;
  border-bottom: 1px dotted white;
}
