<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='components/basscss/css/basscss.min.css') }}" />
    {% block head %}
    <title>{% block title %}{% endblock %} - Globus Auth Client Example</title>
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="clearfix">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
