{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block heading %}Research Profile{% endblock %}
{% block content %}
<p>
  Welcome {{ profile_data.name }}, you have successfully authenticated via Globus Auth.
</p>
<h2 class="aqua">Your info:</h2>
<p class="italic gray">(Pulled from the Signed Token provided by Globus Auth)</p>
<div class="rounded bg-aqua navy p2">
  <ul class="list-reset">
    <li><span class="bold">Name: </span>{{ profile_data.name }}</li>
    <li><span class="bold">Email: </span>{{ profile_data.email }}</li>
    <li><span class="bold">Username: </span>{{ profile_data.username }}</li>
    <li><span class="bold">Provider: </span>{{ profile_data.provider_name }}</li>
    <li><span class="bold">Provider ID: </span>{{ profile_data.provider }}</li>
    <li class="italic mt3">Issuer: {{ profile_data.iss }}</li>
  </ul>
  {{ profile_data }}
</div>
<div class="mt4">
  <p class="italic gray">This is an example client application that authenticates a user via Globus Auth.</p>
</div>
{% endblock %}
