{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block heading %}Research Profile{% endblock %}
{% block content %}
<p>
  Welcome {{ profile_data.name }}, you have successfully authenticated via Globus Auth.
</p>
<h2 class="aqua">Your info:</h2>
<p class="italic gray">(Pulled from Globus Auth)</p>
<div class="rounded bg-aqua navy p2">
  <span class="bold">Name: </span>{{ profile_data.name }} <br />
  {{ profile_data }}
</div>
<div class="mt4">
  <p class="italic gray">This is an example client application that authenticates a user via Globus Auth.</p>
</div>
{% endblock %}
